---
layout: default
---

<article class="blog-post">
    <header>
        <h2 class="blog-post-title">{{ page.title }}</h2>
        <p class="blog-post-meta"><time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time> por <a title="Mike en Google+" rel="author" href="http://plus.google.com/105939516164475271818?rel=author">Mike</a></p>
    </header>

    <div class="post">

        {{ content }}
    
    </div>

</article>
<div id="disqus_thread"></div>
<noscript>
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<script>
    var disqus_enabled = true;
</script>